body {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#main {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
}

#my-map-container {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    height: 55vh;
    position: relative;
}


#sidebar-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.12);
}

#my-map {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#sidebar, #filters-panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(0);
}

#filters-panel {
    background: #FFF;
    z-index: 2;
    transform: translate3d(0, -100%, 0);
    overflow-y: auto;
}

#filters-panel h2 {
    padding: 2rem 1.3rem 1.3rem;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 0;
    outline: 0;
}

#filters-panel ul {
    margin: 0 !important;
    padding: 0;
    list-style: none;
}

#filters-panel button {
    border: none;
}

.filters-list button {
    position: relative;
    text-align: left;
    width: 100%;
    border-radius: 0;
    padding: 2rem 1.3rem;
    margin: 0;
}

.filters-list li.active-filter .active-icon-wrapper {
    display: block;
}

.flex-grow {
    flex-grow: 1
}


#close-btn {
    min-width: 48px;
    min-height: 48px;
    position: absolute;
    right: 6px;
    top: 6px;
}

#search-container {
    display: flex;
    position: relative;
    box-shadow: none;
    width: 100%;
    flex-shrink: 0;
    z-index: 1;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
}

#search-container.selected-store, .mobile #search-container {
    border-bottom: none
}

body:not(.mobile) #search-container.selected-store #search-input {
    border-radius: 6px 6px 0 0;
    box-shadow: none;
    border-bottom: 1px solid #dadce0;
}

.mobile #search-container .search-controls {
    position: absolute;
    top: 45px;
}

.mobile .screen-filter {
    display: none;
}

.mobile #back-to-results {
    left: 0;
    bottom: 0;
    top: unset;
    right: 0;
    padding: 0.6em 1.5em;
    border-radius: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3);
    background: #F5F5F5;
}

.mobile #search-container button {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.02);
    border: none;
}

body:not(.mobile) #search-container.selected-store .search-controls {
    display: none;
}

@media (min-width: 750px) {
    #main {
        flex-direction: row;
        height: 100%;
    }

    #my-map-container {
        flex-basis: 75vw;
        order: 2;
        position: relative;
        height: 100%;
    }

    #sidebar-container {
        flex-basis: 35vw;
        min-width: 400px !important;
        max-width: 480px !important;
        order: 1;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        -webkit-box-flex: 0;
        flex-grow: 0;
        height: 100%;
    }
}

.controls {
    display: flex;
    padding: 0 1.3rem;
    flex: 1;
    position: relative;
    webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

#listing-stores-container, #selected-store-container {
    display: flex;
    overflow: auto;
    justify-content: space-between;
    flex-direction: column;
}

#listing-stores-container {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
}

#listing-stores-container.active {
    box-shadow: inset 0 14px 10px -10px rgba(60, 64, 67, 0.28);
}


#selected-store-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 1em;
    overflow: auto;
    background: white;
}

#search-here {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    padding-top: 10%;
}

.store-address {
    line-height: 1.6rem;
}

.selected-store-card .store-address, .store-direction-url a,
.store-contact a, .store-website a {
    padding: .2em 0;
    margin-left: 20px;
    color: #1D1D1D;
}

.store-direction-url a::before, .store-website a::before,
.store-contact a::before, .selected-store-card .store-address::before {
    content: "";
    background-size: 16px 16px;
    background-repeat: no-repeat;
    padding-right: 20px;
    vertical-align: middle;
    margin-left: -20px;
}

.store-direction-url a::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M22.43 10.59l-9.01-9.01c-.75-.75-2.07-.76-2.83 0l-9 9c-.78.78-.78 2.04 0 2.82l9 9c.39.39.9.58 1.41.58.51 0 1.02-.19 1.41-.58l8.99-8.99c.79-.76.8-2.02.03-2.82zm-10.42 10.4l-9-9 9-9 9 9-9 9zM8 11v4h2v-3h4v2.5l3.5-3.5L14 7.5V10H9c-.55 0-1 .45-1 1z'/%3E%3C/svg%3E");
}

.store-contact a::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M6.54 5c.06.89.21 1.76.45 2.59l-1.2 1.2c-.41-1.2-.67-2.47-.76-3.79h1.51m9.86 12.02c.85.24 1.72.39 2.6.45v1.49c-1.32-.09-2.59-.35-3.8-.75l1.2-1.19M7.5 3H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.49c0-.55-.45-1-1-1-1.24 0-2.45-.2-3.57-.57-.1-.04-.21-.05-.31-.05-.26 0-.51.1-.71.29l-2.2 2.2c-2.83-1.45-5.15-3.76-6.59-6.59l2.2-2.2c.28-.28.36-.67.25-1.02C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1z'/%3E%3C/svg%3E");
}

.store-website a::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M17 7h-4v2h4c1.65 0 3 1.35 3 3s-1.35 3-3 3h-4v2h4c2.76 0 5-2.24 5-5s-2.24-5-5-5zm-6 8H7c-1.65 0-3-1.35-3-3s1.35-3 3-3h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-2zm-3-4h8v2H8z'/%3E%3C/svg%3E");
}

.selected-store-card .store-address::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85 7 9z'/%3E%3Ccircle cx='12' cy='9' r='2.5'/%3E%3C/svg%3E");
}

.selected-store-card {
    vertical-align: middle;
    line-height: 2em;
}

.selected-store-card .hero {
    padding: .8rem 1.4rem;
}

.selected-store-card .store-title {
    font-size: 1.5rem;
}


.selected-store-card .content {
    padding: 0 1.4rem .8rem;
    color: #1D1D1D;
}

.summary-store-card {
    font-size: 15px;
    padding: .8rem 1.3rem;
    cursor: pointer;
    vertical-align: middle;
    line-height: 1.7em;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
}

.summary-store-card:hover {
    background: #f0f0f0;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

#search-input {
    height: 48px;
    width: 100%;
    border: 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 4.8rem;
    padding-left: 1em;
    font-size: 17px !important;
    border-bottom-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    transition-property: all;
    transition-duration: 0.5s;
}

.search-wrapper {
    flex-direction: column;
}

.search-controls {
    padding: 6px 0;
    flex-wrap: wrap;
    display: flex;
}


.search-control-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-control-filter button {
    margin-right: 6px;
}

#filters-btn, #reset-btn, #aroundme-btn {
    overflow: hidden;
}


#opennow-btn, #reset-btn {
    display: none;
}

.stores-displayed #opennow-btn, .stores-displayed #reset-btn {
    display: flex;
}


.filter-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 145px;
}


button {
    color: #1D1D1D;
    margin: 6px 0;
    align-items: center;
    border-radius: 32px;
    cursor: pointer;
    display: flex;
    height: 32px;
    padding: 0 12px;
    border: 1px solid #dadce0;
    background: transparent;
    font: inherit;
    list-style: none;
    outline: 0;
    overflow: visible;
    vertical-align: baseline;
    background: #FFF;
}

button:hover {
    border-color: #DADCE0;
    background-color: #F1F3F4;
}


.localities-input-container::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' style='vertical-align: middle;width: 24px; height: 24px;' focusable='false'%3E%3Cpath d='M16.0824,17.406 C14.3832,18.81 12.2034,19.6536 9.8268,19.6536 C4.3998,19.6536 0,15.2544 0,9.8268 C0,4.3998 4.3998,0 9.8268,0 C15.2544,0 19.6536,4.3998 19.6536,9.8268 C19.6536,12.2028 18.81,14.3832 17.406,16.0824 L23.7264,22.4028 C24.0906,22.767 24.0924,23.3568 23.724,23.724 C23.358,24.09 22.7658,24.09 22.4028,23.7264 L16.0824,17.406 Z M9.8268,17.7822 C14.2206,17.7822 17.7828,14.2206 17.7828,9.8262 C17.7828,5.4342 14.2206,1.872 9.8268,1.872 C5.4336,1.872 1.872,5.4336 1.872,9.8268 C1.872,14.2206 5.4336,17.7828 9.8268,17.7828 L9.8268,17.7822 Z' id='Shape' fill='%23808080'%3E%3C/path%3E%3C/svg%3E");
    background-color: #FFF;
    width: 24px;
    height: 24px;
    right: 12px;
    top: 12px;
    z-index: 1;
    position: absolute;
}
.localities-container{
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 6px 6px;
    margin-top: -3px;
}
.localities-container li:last-child{
    border-radius: 0 0 6px 6px;
}

#search-input:focus, button:focus {
    outline: none;
}

#back-to-results {
    position: fixed;
    z-index: 1;
    top: 9px;
    left: 1.3rem;
    right: 1.3rem;
    background: #FFF;
    border-radius: 0 0 6px 6px;
    transition-property: opacity;
    transition-duration: 0.5s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (min-width: 750px) {
    #back-to-results {
        top: 58px;
    }
}


#back-to-results {
    display: flex;
    padding: .5em;
    padding-left: 1em;
    font-size: .9em;
    color: #1D1D1D;
    cursor: pointer;
}

#back-to-results:before {
    content: "";
    background-size: 16px 16px;
    background-repeat: no-repeat;
    padding-right: 15px;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z' fill='%23808080' /%3E%3C/svg%3E");
}

.buttonContainer {
    display: block;
    height: 100%;
    position: absolute;
}

.buttonContainer.search {
    right: 2rem;
}

.buttonContainer.clear {
    right: 4rem;
    display: none;
}

.buttonContainer.load {
    right: 4.5rem;
    display: none;
}

.buttonContainer.clear svg {
    padding: 0 1em;
}

.store-photo {
    margin-left: 10px;
}

.store-photo img {
    height: 92px;
    width: 80px;
    vertical-align: top;
}

.store-photo-header {
    overflow: hidden;
    direction: ltr;
    display: block;
    width: 100%;
    height: 270px;
    background: rgba(0, 0, 0, 0.54);
    background-size: cover;
    background-position: center;
}

.summary-store-card .store-address {
    color: #8e8e8e;
    line-height: 1.5em;
}

.store-opened {
    font-weight: 600;
}

.store-types {
    color: rgba(0, 0, 0, 0.54);
}

.store-properties-list {
    padding: 0 1.4rem;
    margin-bottom: 1.5rem;
}

.store-properties-header {
    border-bottom: 1px solid #E4E6E7;
    padding: .5rem 0 .2rem;
    line-height: 20px;
    font-size: .85rem;
    color: #777777;
    font-weight: 600;
    text-transform: uppercase;
}

.store-properties-list ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    width: 100%;
    margin-top: .5rem;
}

.store-properties-list ul li {
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
    max-width: 280px;
}

.store-properties-list ul li {
    flex: 1;
    line-height: 24px;
}

.store-properties-list ul li img {
    width: 100%;
}

.store-opening-hours-list .current-day {
    font-weight: 600;
}

.store-services-list {
    display: grid !important;
    grid-column-gap: 2%;
    grid-template-columns: repeat(2, 1fr);
}


.localities-input-wrapper, .localities-input-container {
    width: 100%;
}

.localities-item {
    padding: 8px 8px 8px 30px;
    cursor: pointer;
}

.localities-icon {
    top: 8px;
}

.localities-empty-button {
    right: 12px;
    width: 24px;
    background-color: #FFF;
    z-index: 1;
    margin-top: 0;
    height: 42px;
}

.screen-filter {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 85px;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}